.section h4 {
  margin: 40px;
  color: var(--color-gray);
  height: 15px;
  font-family: roboto;
  line-height: 30px;
  font-size: 22px;
}

.profile-photo {
  margin: 0 40px;
  border: 1px solid #cccccc66;
  width: 302px;
  border-radius: 2%;
  padding: 7px;
}

