.section h4 {
  margin-left: 50px;
  color: var(--color-gray);
  display: flex;
}

.profile-photo {
  margin: 30px 0 0 75px;
  border: 1px solid #FFFFFF width="400";
  padding: 10px;
  width: 352px;
}
