@media(prefers-color-scheme: dark){
  body{
    background-color: hsl(0, 0%, 0%);
  }

  .main-title,
  .second-title{
    color: hsl(0, 0%, 90%);
  }


  .skills-legend{
    background-color: hsl(0, 0%, 0%);
    border: 2px solid hsl(0, 0%, 6%);
    list-style-type: none;
    padding-left: 0;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
  }

  .skills-legend_item:not(:last-child){
    border-bottom: 2px solid hsl(0, 0%, 98%);
  }
  
}
