@font-face {
  font-family: 'my-cv';
  src:
    url('fonts/my-cv.ttf?sai6wn') format('truetype'),
    url('fonts/my-cv.woff?sai6wn') format('woff'),
    url('fonts/my-cv.svg?sai6wn#my-cv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-cv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-codetap:before {
  content: "\e903";
}
.icon-codewars:before {
  content: "\e904";
}
.icon-commits:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
.icon-earth:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-forks:before {
  content: "\e90a";
}
.icon-github:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e90c";
}
.icon-info:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-link:before {
  content: "\e90f";
}
.icon-linkedin:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}
.icon-rotate:before {
  content: "\e912";
}
.icon-skype:before {
  content: "\e913";
}
.icon-stackoverflow:before {
  content: "\e914";
}
.icon-stars:before {
  content: "\e915";
}
.icon-trophy:before {
  content: "\e916";
}
.icon-twitter:before {
  content: "\e917";
}
.icon-udemy:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e919";
}
.icon-youtube:before {
  content: "\e91a";
}
