@media{
  grid{
    grid-template-columns: repeat(4, 1fr);
  }
  grid>c[span-tablet$="+4"],
  grid>c[span-tablet$="4"]{
    grid-column-end: span 4;
    grid-column-start: auto;
  }
  grid[columns-tablet="4"]{
    grid-template-columns: repeat(4, 1fr)
  }

  /* Update of font */
  a.[class^="disk-link__"] [class^="my-cv-"]:before,
  .my-cv-codetap:before {
  font-size: 4vw;}
  
  body{
    margin: 0 36px;
  }

  mobile-main-title{
    font-size: 27px;
  }
}
