body {
  font-family: Roboto;
  margin: 0 36px;
  background-color: #fff;
}

grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

grid > c[span='row'] {
  /* grid-column-start: 1;
  grid-column-end: -1; */
  grid-column: 1 / -1;
}

grid > c {
  /* overflow: hidden; */
}

c[span='1'] {
  grid-column-end: span 1;
}

a[class^='social-disk-link__'] {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  display: block;
  position: relative;
}

a[class^='social-disk-link__'] > [class^='my-cv'] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[class^='social-disk-link__'] > [class^='my-cv']::before {
  font-size: 8vw;
}

.social-disk-link__udemy {
  background-color: #cce4ff;
}

.social-disk-link__codewars {
  background-color: #d4f5e2;
}

.social-disk-link__codetap {
  background-color: #fdebcf;
}

.social-disk-link__facebook {
  background-color: #ccf5ff;
}

.social-disk-link__github {
  background-color: #f1deff;
}

.social-disk-link__skype {
  background-color: #ffccdb;
}

.social-disk-link__linkedin {
  background-color: #fadbd8;
}

.social-disk-link__stackoverflow {
  background-color: #dfddf9;
}

.social-disk-link__instagram {
  background-color: #d4f6f1;
}

.social-disk-link__twitter {
  background-color: #f4e5d7;
}

.social-disk-link__youtube {
  background-color: #fcf3cf;
}

.name-title {
  margin-bottom: 45px;
  height: 40px;
  font-size: 36px;
  text-align: center;
  color: hsl(0, 0%, 10%);
}

.role-title {
  margin: 0;
  height: 30px;
  font-size: 24px;
  text-align: center;
  color: hsl(0, 0%, 10%);
}

.section-title,
.section-subtitle {
  margin: 0;
  height: 30px;
  color: #808080;
}

.section-title {
  font-size: 22px;
}

.section-subtitle {
  font-size: 20px;
}

.know-how-button__react,
.know-how-button__css,
.know-how-button__html {
  background-color: #fd004d;
}

.know-how-button__git,
.know-how-button__js,
.know-how-button__firebase,
.know-how-button__cli,
.know-how-button__jira,
.know-how-button__agile {
  background-color: #2dd070;
}

.know-how-button__node,
.know-how-button__bash,
.know-how-button__tdd,
.know-how-button__bdd {
  background-color: #f29e1a;
}

.know-how-button__html,
.know-how-button__css,
.know-how-button__js,
.know-how-button__react,
.know-how-button__git,
.know-how-button__node,
.know-how-button__bash,
.know-how-button__cli,
.know-how-button__jira,
.know-how-button__firebase,
.know-how-button__tdd,
.know-how-button__bdd,
.know-how-button__agile {
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 8px;
}

.know-how-story {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 94%);
  list-style-type: none;
  padding-left: 0;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px 0;
}

.know-how-story_item:not(:last-child) {
  border-bottom: 2px solid #f0f0f0;
}

.know-how-story_item:hover {
  background-color: #fafafa;
}

.know-how-story_item > span[class='my-cv-heart'] {
  color: #fe004e;
}

.know-how-story_item > span[class='my-cv-trophy'] {
  color: #2dd070;
}

.know-how-story_item > span[class='my-cv-book'] {
  color: #f29e1a;
}

.know-how-story_item > span[class^='my-cv-'] {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.know-how-story_item {
  height: 52px;
  line-height: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.story-count {
  padding-right: 20px;
}

.story-description {
  padding: 0 10px;
  flex-grow: 1;
}

.know-how-list-last,
.know-how-list {
  padding-top: 20px;
}

.know-how-list {
  padding-bottom: 20px;
}

c[height='30'] {
  height: 30px;
}

.my-story-box-shadow {
  background-color: #fafafa;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25); /* fix this */
}

.my-story-text-description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #808080;
}

.button__alert {
  background-color: #e8050e;
  color: white;
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  font-size: 12px;
  font-weight: 700;
}

.button-arrow__blue {
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
  font-size: 18px;
}

.text-centered {
  text-align: center;
}

.avatar {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #808080;
}

.avatar-wrapper {
  border-radius: 6px;
  padding: 8px 8px 4px;
  border: 1px solid #808080;
  margin-top: 10px;
}

@media (min-width: 405px) {
  .name-title {
    margin-bottom: 0px;
  }
}
