* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Roboto;
    margin: 0 36px;
    background-color: hsl(0, 0%, 100%);
  }
  
  grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  grid > c[span="row"] {
   /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
  }
  
  grid > c {
    /* overflow: hidden; */
  }
  
  c[span="1"] {
    grid-column-end: span 1;
  }
  
  
  a[class^="disc-link__"] {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    display: block; 
    position: relative;
  }
  
  a[class^="disc-link__"] > [class^="my-cv-"]{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a[class^="disc-link__"] > [class^="my-cv-"]::before {
    font-size: 8vw;
   
  }
  
  .disc-link__onahau-dark {
    background-color: #CCE4FF;
  }
  .disc-link__granny-apple {
    background-color: #D4F5E2;
  }
  .disc-link__oasis {
    background-color: #FDEBCF;
  }
  .disc-link__onahau-light {
    background-color: #CCF5FF;
  }
  .disc-link__blue-chalk {
    background-color: #F1DEFF;
  }
  .disc-link__pastel-pink {
    background-color: #FFCCDB;
  }
  .disc-link__azalea {
    background-color: #FADBD8;
  }
  .disc-link__moon-raker {
    background-color: #DFDDF9;
  }
  .disc-link__white-ice {
    background-color: #D4F6F1;
  }
  .disc-link__janna {
    background-color: #F4E5D7;
  }
  .disc-link__double-pearl-lusta {
    background-color: #FCF3CF;
  }
  
  .main-title,
  .second-title {
      margin: 0;
      text-align: center;
      color: hsl(0, 0%, 10%);
  }

  .main-title{
      font-size: 36px;
      height: 40px;
  }
  
  .second-title {
    height: 30px;
    font-size: 24px;
  }
  
  .section-title,
  .section-subtitle {
    height: 30px;
    margin: 0;
    color: hsl(0, 0%, 50%);
    }
  
  .section-title {
    font-size: 22px;
    }
  
  .section-subtitle {
    font-size: 20px;
    color: hsl(0, 0%, 50%);
    }
  
  .skills-button__torch-red {
    background-color: #FD004D;
    }
  .skills-button__shamrock {
    background-color: #2DD070;
    }
  .skills-button__buttercup {
    background-color: #f29e1a;
    }
  .skills-button__torch-red,
  .skills-button__shamrock,
  .skills-button__buttercup {
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    border: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
    } 
  
  .skills-legend {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    border: 2px solid hsl(0, 0%, 94%);
    list-style-type: none;
    padding-left: 0;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .skills-legend_item:not(:last-child) {
    border-bottom: 2px solid hsl(0, 0%, 94%);
  }
  
  .skills-legend_item:hover {
    background-color: hsl(0, 0%, 98%);
  }
  
  .skills-legend_item > span[class^="my-cv-heart"] 
  {
    color: #FE004E;
  }
  
  .skills-legend_item > span[class^="my-cv-trophy"] 
  {
    color: #2dd070;
  }
  
  .skills-legend_item > span[class^="my-cv-book"] 
  {
    color: #f29e1a;
  }
  
  .skills-legend_item > span[class^="my-cv-"] {
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .skills-legend_item {
    height: 52px;
    line-height: 32px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .legend-count {
    padding-right: 20px;
  }
  
  .legend-description {
    padding: 0 10px;
    flex-grow: 1;
  }
  
  
  .skills-list {
    padding-top: 20px 0;
  }
  
  .skills-list {
    padding-bottom: 20px 0;
  }
  
  c[height="30"] {
    height: 30px;
  }
  
  .box-shadow { 
    background-color: #FAFAFA;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  }
  
  .text-description {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: #808080;
  }
  
  .button__attention {
    background-color: #FE004E;
    color: white;
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
  }
  
  .button-disc__info {
    background-color: #2DD070;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 0;
    font-size: 18px;
  }
  
  .text-centered {
    text-align: center;
  }
  
  .avatar {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #808080;
  }

  .image-wrapper {
    border-radius: 6px;
    padding: 8px 8px 4px;
    border: 1px solid #808080;
    margin-bottom: 10px;
  }

  /* update of font */
  
  .my-cv-arrow-up:before {
    content: "\e900";
    display: inline-block;
    transform: rotateZ(180deg);
  }

  .my-cv-codetap .path1:before {
    color: #d52027
  }
  .my-cv-codetap .path1:before,
  .my-cv-codetap .path2:before,
  .my-cv-codetap .path3:before,
  .my-cv-codetap .path4:before {
      font-size: 8vw;
      font-style: normal;
  }
