@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');
@import 'test.css';
@import 'font.css';

* {
  box-sizing: border-box;
}

body {
  font-family:Roboto;
  margin: 0 36px;
}

grid {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

grid > c[span="row"] {
  grid-column: 1 / -1;
}

c[span="1"] {
  grid-column-end: span 1;
}

a[class^="disc-link__"] {
  width: 60%;
  padding-top: 60%;
  border-radius: 50%;
  display: block;
  position: relative;
}

a[class^="disc-link__"] > [class^="my-cv-"] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[class^="disc-link__"] > [class^="my-cv-"]::before {
  font-size: 6vw;
}

.disc-link__onahau-dark {
  background-color:#CCE4FF;
}

.disc-link__granny-apple {
  background-color:#D4F5E2;
}

.disc-link__oasis {
  background-color:#FDEBCF;
}

.disc-link__onahau-light {
  background-color:#CCF5FF;
}

.disc-link__blue-chalk {
  background-color:#F1DEFF;
}

.disc-link__pastel-pink {
  background-color:#FFCCDB;
}

.disc-link__azalea {
  background-color:#FADBD8;
}

.disc-link__moon-raker {
  background-color:#DFDDF9;
}

.disc-link__white-ice {
  background-color:#D4F6F1;
}

.disc-link__janna {
  background-color:#F4E5D7;
}

.disc-link__double-pearl-lusta {
  background-color:#FCF3CF;
}

.main-title {
  height: 40px;
  margin:0;
  font-size: 36px;
  text-align:center;
}

.second-title {
  height: 30px;
  text-align:center;
  margin: 0;
  font-size: 24px;
  text-align:center;
  color: #808080;
}

.sub-title {
  height: 15px;
  margin: 0;
  font-size: 22px;
  color: grey;
}

.section-title {
  height: 15px;
  margin: 0;
  font-size: 22px;
  color: grey;
}

c[height="30"] {
  height: 30px;
}

.box-shadow {
  background-color:#f8fbf9;
  padding:20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.text-description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #808080 ;
}

.button__attention {
  background-color: #008000;
  color: white;
  height: 50px;
  padding: 0 24px;
  border-radius: 25px;
  border: 0;
  font-size: 13px;
  font-weight: bold;
}

.button-disc__info {
  background-color: rgb(22, 122, 189);
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 0;
  font-size: x-large;
}

.text-centered {
  text-align: center;
}

.avatar {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(122, 122, 122);
}

.image-wrapper {
  border-radius: 6px;
  padding: 8px 8px 4px;
  border: 1px solid rgb(122, 122, 122);
}

