@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
body {
  font-family: Roboto;
  margin: 0 36px;
}

grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

grid > c {
  grid-column-start :1;
  grid-column-end: -1;
}

.first-title {
  height: 40px;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.second-title {
  height: 30px;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.third-title {
  height: 30px;
  font-size: 22px;
  margin: 0;
}

c[height="30"] {
  height: 30px;
}

.box-shadow {
  background-color: #fafafa;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.text-description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}