@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import 'font.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  margin: 0 36px;
}

grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

grid > c {
  grid-column-start: 1;
  grid-column-end: -1;
}

c[span="1"] {
  grid-column-end: span 1;
}


.disc-link {
  width:100%;
  padding-top: 100%;
  background-color: lightsteelblue;
  border-radius: 50%;
  display: block; 
}

.main-title {
  height: 40px;
  margin: 0;
  font-size: 36px;
  text-align: center;
}

.second-title {
  height: 30px;
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.section-title {
  height: 30px;
  margin: 0;
  font-size: 22px;
  color: #808080;
  }
c[height="30"] {
  height: 30px;
}

.box-shadow { 
  background-color: #FAFAFA;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.text-description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #808080;
}

.button__attention {
  background-color: #FE004E;
  color: white;
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
}

.button-disc__info {
  background-color: #2DD070;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
  font-size: 18px;
}

.text-centered {
  text-align: center;
}

.avatar {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #808080;
}

.image-wrapper {
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #808080;
}

