@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import 'font.css';
body {
  font-family: Roboto;
  /* margin-top: 0;
  margin-bottom: 0;
  margin-left: 36px;
  margin-right: 36px; */
  margin: 0 36px;
}

grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

grid > c{
  grid-column-start: 1;
  grid-column-end: -1;
}

.main-title {
  height: 40px;
  margin: 0;
  font-size: 36px;
  text-align: center;
}

.second-title {
  height: 30px;
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.section-title {
  height: 30px;
  margin: 0;
  font-size: 22px;
  color: #808080;
}

c[height="30"] {
  height: 30px;
}

.box-shadow {
  background-color: #FAFAFA;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.text-description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #808080;
}

.button__attention {
  background-color: #FE004E;
  color: #FFFFFF;
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
}

.button-disc__info {
  background-color: #2DD070;
  color: #FFFFFF;
  height: 40px;
  border: 0;
  border-radius: 50px;
  font-weight: bold;
  width: 40px;
  font-size: 18px;
}

.text-centered {
  text-align: center;
}
