@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import 'test.css';
@import 'font.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  margin: 0 36px;
}

grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

grid > c[span="row"] {
  /* grid-column-start :1; */
  /* grid-column-end: -1; */
  grid-column: 1 / -1;
}

grid > c {
  overflow: hidden;
}

.first-title {
  height: 40px;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.second-title {
  height: 30px;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.third-title {
  color: #808080;
  height: 30px;
  font-size: 22px;
  margin: 0;
}

c[height="30"] {
  height: 30px;
}

c[span="1"] {
  grid-column-end: span 1;
}

a[class^="social-icon__"] {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  display: block;
  position: relative;
}

a[class^="social-icon__"] > [class^="my-cv-"] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[class^="social-icon__"] > [class^="my-cv-"]::before {
  font-size: 8vw;
}

.social-icon__onahau-dark {
  background-color: #CCE4FF;
}

.social-icon__granny-apple {
  background-color: #D4F5E2;
}

.social-icon__oasis {
  background-color: #FDEBCF;
}

.social-icon__onahau-light {
  background-color: #CCF5FF;
}

.social-icon__blue-chalk {
  background-color: #F1DEFF;
}

.social-icon__pastel-pink {
  background-color: #FFCCDB;
}

.social-icon__azalea {
  background-color: #FADBD8;
}

.social-icon__moon-raker {
  background-color: #DFDDF9;
}

.social-icon__white-ice {
  background-color: #D4F6F1;
}

.social-icon__janna {
  background-color: #F4E5D7;
}

.social-icon__double-pearl-lusta {
  background-color: #FCF3CF;
}

.box-shadow {
  background-color: #fafafa;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.text-description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #808080;
}

.download__wrapper {
  background-color: #FE004E;
  border-radius: 20px;
  height: 40px;
  width: 140px;
  margin: auto;
}

.download_button {
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  padding: 0 24px;
  line-height: 40px;
}

.button__disc {
  background-color: #2dd070;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 17px;

}

.text-centered {
  text-align: center;
}

.picture {
  width: 100%;
  border-radius: 5px;
  border: 1px groove #808080;
}

.image-wrapper {
  border-radius:6px;
  padding: 8px 8px 4px;
  border: 1px solid #808080;
}