@media (prefers-color-scheme: dark) {
  body {
    background: #212734 !important;
  }

  .main-header-fullname,
  .second-header {
    color: #F7F7F7;
  }

  .common-header, 
  .common-subheader {
    color: #F7F7F7;
  }

  .paragraph-wrapper {
    background-color: #31394D;
  }

  .text-description {
    color: #FFFFFF;
  }

  .image-wrapper {
    background-color: #FFFFFF;
  }

  .my-cv__heart,
  .my-cv__heart:before {
    color: #F0F0F0;
  }

  .skills-info-item:hover {
    background-color: #1A1A1A;
  }

  .info-description {
    color: #E6E6E6;
    font-weight: 500;
  }

  .info-count {
    color: #F0F0F0;
  }

}