@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,700;1,900&display=swap');
body {
  font-family: Roboto;
}

grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.main-title {
  height: 40px;
  font-size: 36px;
  text-align: center;
}

.second-title {
  height: 30px;
  font-size: 24px;
  text-align: center;
}

.section-title {
  height: 30px;
  font-size: 22px;

}
