@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "test.css";
@import "font.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0 36px;
}

.main-title {
  margin: 0;
  height: 40px;
  font-size: 36px;
  text-align: center;
}

.second-title {
  height: 30px;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.section-title,
.section-subtitle {
  height: 30px;
  margin: 0;
  color: #808080;
}
.section-title {
  font-size: 22px;
}
.section-subtitle {
  font-size: 20px;
}

.skills-button__torch-red {
  background-color: #fd004d;
}
.skills-button__shamrock {
  background-color: #2dd070;
}
.skills-button__buttercup {
  background-color: #f29e1a;
}

.skills-button__shamrock,
.skills-button__buttercup,
.skills-button__torch-red,
.skills-button__torch-red,
.skills-button__torch-red {
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 8px;
}

.skills-list-last,
.skills-list {
  padding-top: 20px;
}

.skills-list {
  padding-bottom: 20px;
}

/* skills */

.skills-legend {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 94%);
  list-style-type: none;
  padding-left: 0;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px 0;
}

.skills-legend_item:not(:last-child) {
  border-bottom: 2px solid hsl(0, 0%, 98%);
}

.skills-legend_item:hover {
  background-color: hsl(0, 0%, 94%);
}

.skills-legend_item > span[class^="my-cv-heart"] {
  color: #fd004d;
}
.skills-legend_item > span[class^="my-cv-trophy"] {
  color: #2dd070;
}
.skills-legend_item > span[class^="my-cv-book"] {
  color: #f29e1a;
}

.skills-legend_item > span[class^="my-cv-"] {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.skills-legend_item {
  height: 52px;
  line-height: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.legend-count {
  padding: 0;
  padding-right: 20px;
}

.legend-description {
  padding: 0 10px;
  flex-grow: 1;
}

/*  */

c[height="30"] {
  height: 30px;
}

grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
grid > c[span="row"] {
  grid-column: 1 / -1;
}

grid > c {
  overflow: hidden;
}

c[span="1"] {
  grid-column-end: span 1;
}

a[class^="disc-link__"] {
  width: 100%;
  padding-top: 100%;

  border-radius: 50%;
  display: block;
  position: relative;
}

a[class^="disc-link__"] > [class^="my-cv"] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[class^="disc-link__"] > [class^="my-cv"]::before {
  font-size: 8vw;
}

.disc-link__onahau {
  background-color: #cce4ff;
}
.disc-link__granny-apple {
  background-color: #c1f8c0;
}
.disc-link__oasis {
  background-color: #fdebcf;
}

.disc-link__onahau-light {
  background-color: #ccf5ff;
}
.disc-link__blue-chalk {
  background-color: #e3d6e9;
}
.disc-link__pastel-pink {
  background-color: #ffd1dc;
}
.disc-link__azalea {
  background-color: #f9c0c4;
}
.disc-link__moon-raker {
  background-color: #dfddf9;
}
.disc-link__janna {
  background-color: #f5ead9;
}
.disc-link__white-ice {
  background-color: #e1e7e4;
}
.disc-link__yt {
  background-color: #f9c0c4;
}

.box-shadow {
  background-color: #fafafa;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.text-description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #808080;
}

.button__attention {
  background-color: #fe004e;
  color: white;
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
}

.button-disc__info {
  background-color: #2dd070;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
  font-size: 18px;
}

.text-centered {
  text-align: center;
}

.avatar {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #808080;
  border: 0;
}

.image-wrapper {
  border-radius: 6px;
  padding: 6px;
  border: 1px solid #808080;
}
