@media (min-width: 768px) {
  
  grid {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
  }
  
  grid > c[span-tablet$="4"],
  grid > c[span-tablet$="+4"] {
    grid-column-end: span 4 ;
    grid-column-start: auto;
  }

  grid[columns-tablet="4"] {
    grid-template-columns: repeat(4, 1fr);
  }

  body {
    margin: 0 80px;
  }

  a[class^="button-display__"] > [class^="my-cv-"] {
    font-size: 4vw;
  }

}
