@media(min-width: 768px) {
  grid {
    grid-template-columns: repeat(8, 1fr);
  }
  grid > c[span-tablet$="+4"],
  grid > c[span-tablet$="4"] {
    grid-column-end: span 4;
    grid-column-start: auto;
  }

  grid[columns-tablet="4"] {
    grid-template-columns: repeat(4, 1fr);
  }

  /* update of font */

  a[class^="social-icon__"] [class^="my-cv-"]:before,
  .my-cv-codetap .path1:before,
  .my-cv-codetap .path2:before,
  .my-cv-codetap .path3:before,
  .my-cv-codetap .path4:before {
    font-size: 4vw;
  }

  body {
    font-family: Roboto;
    margin: 0 80px;
  }
}

