[class^="test"] {
  padding:1rem;
}

.test-1 {
  background-color: #c00;
  position: relative;
}
.test-2 {
  background-color: #059;
}
.test-3 {
  background-color: #f0f;
}
.test-4 {
  background-color: #0f0;
  position: absolute;
  top: 5px;
  left: 5px;
}