[class^="test"] {
    padding: 1rem;
}

.test-1 {
    background-color: red;
}

.test-1 {
    background-color: #036;
}

.test-1 {
    background-color: #0f0;
}

.test-1 {
    background-color: #f0f;
}