.test {
  padding: 1rem;
}

.test-1 {
  background-color: brown;
}

.test-2 {
  background-color: blue;
}

.test-3 {
  background-color: green;
}

.test-4 {
  background-color: rgb(233, 79, 194);
  position: absolut
}
