.my-cv-arrow-up:before {
  content: "\e900";
  display: inline-block;
  transform: rotateZ(180deg);
}

.my-cv-codetap .path1:before {
  color: #d52027;
}
.my-cv-codetap .path1:before,
.my-cv-codetap .path2:before,
.my-cv-codetap .path3:before,
.my-cv-codetap .path4:before {
  font-size: 8vw;
  font-style: normal;
}
