:root {
  --color-white: #ffffff;
  --color-cod-gray: #1a1a1a;
  --color-gray: rgb(128, 128, 128);
  --color-dove-gray: #808080;
  --color-dodger-blue: #13b3ff;
  --color-cod-gray: #1a1a1a;
  --color-shamrock: #2dd070;
  --color-torch-red: #ff004f;
  --color-silver: #cccccc;
  --color-alabaster: #fafafa;

}