@font-face {
  font-family: "my-cv";
  src: url("/fonts/my-cv.ttf?lxfwfh") format("truetype"),
    url("/fonts/my-cv.woff?lxfwfh") format("woff"),
    url("/fonts/my-cv.svg?lxfwfh#my-cv") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "my-cv" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-codetap .path1:before {
  content: "\e903";
  color: rgb(68, 68, 68);
}
.icon-codetap .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-codetap .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-codetap .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-codewars:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-github:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e90b";
}
.icon-info:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-skype:before {
  content: "\e90f";
}
.icon-stackoverflow:before {
  content: "\e910";
}
.icon-trophy:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-udemy:before {
  content: "\e913";
}
.icon-youtube:before {
  content: "\e914";
}
