:root {
  --color-white: #ffffff;
  --color-cod-gray: #1a1a1a;
  --color-gray: #808080;
  --color-dove-gray: #707070;
  --color-dodger-blue: #13b3ff;
  --color-cod-gray: #1a1a1a;
  --color-shamrock: #2dd070;
  --color-torch-red: #ff004f;
  --color-silver: #cccccc;
  --color-alabaster: #fafafa;
  --color-onahau: #cce4ff;
  --color-granny-apple: #d4f5e2;
  --color-oasis: #fdebcf;
  --color-onahau-light: #ccf5ff;
  --color-blue-chalk: #f1deff;
  --color-pastel-pink: #ffccdb;
  --color-azalea: #fadbd8;
  --color-moon-raker: #dfddf9;
  --color-white-ice: #d4f6f1;
  --color-janna: #f4e5d7;
  --color-double-pearl-lusta: #fcf3cf;
  --color-gallery: #f0f0f0;
  --color-buttercup: #f29e1a;
  --color-dusty-gray: #999999;
}
