
.section h1, h2 {
  display: flex;
  justify-content: center;
  color: var(--color-cod-gray);
}

.section h3 {
  margin-left: 50px;
  color: var(--color-gray);
}

.paragraph {
  display: flex;
  justify-content: center;
  margin: 0 40px;
  padding: 25px;
  font-size: 13px;
  color: var(--color-gray);
  background: var(--color-alabaster);
  border-radius: 7px;
  box-shadow: 0 0 9px var(--color-dove-gray), 0 0 8px var(--color-alabaster);
}

.download_wrapper {
  display: flex; 
  justify-content: center;
  align-content: center;
  margin-top: 40px;
}

.download-button {
  background-color: var(--color-torch-red);
  text-decoration: none;
  line-height: 40px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 24px;
}


.arrow {
  display: flex;
  width: 20px;
  background-color: var(--color-shamrock);
  border-radius: 50%;
  margin: 50px auto;
  padding: 10px;
}

/*.section h4 {
  margin-left: 50px;
  color: var(--color-gray);
  display: flex;
}

.poza_profil {
  display: flex;
  justify-content: center;
  margin: 0 90px;
  border: 1px solid #A9ADB7;
  padding: 5px;
  width: 300px;
}


