@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700display=swap');

body {
  font-family: Roboto;
  margin: 0 36px;
}

grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

grid > c {
  grid-column-start: 1;
  grid-column-end: -1;
}

.main-title {
  height: 40px;
  margin: 0;
  font-size: 36px;
  text-align: center;
}

.second-title {
  height: 30px;
  margin: 0;
  font-size: 24px;
  text-align: center;

}

.third-title {
  height: 30px;
  margin: 0;
  font-size: 22px;
  color: var(--color-dove-gray);
}

c[height="30"] {
  height: 30px;
}

.paragraph_wrapper {
  background-color: var(--color-alabaster);
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.paragraph {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: var(--color-dove-gray);
}

.pink-button {
  background-color: var(--color-torch-red);
  color: var(--color-white);
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
}

.green-button {
  background-color: var(--color-shamrock);
  color: var(--color-white);
  border-radius: 50%;
  border: 0;
  height: 40px;
  width: 40px;
  font-size: 18px;
}

.text-centered {
  text-align: center;
}
/*.paragraph {
  display: flex;
  justify-content: center;
  margin: 0 40px;
  padding: 25px;
  font-size: 13px;
  color: var(--color-gray);
  background: var(--color-alabaster);
  border-radius: 7px;
  box-shadow: 0 0 9px var(--color-dove-gray);
}

/*.download_wrapper {
  display: flex; 
  justify-content: center;
  align-content: center;
  margin-top: 40px;
}

.download-button {
  background-color: var(--color-torch-red);
  text-decoration: none;
  line-height: 40px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 24px;
}


.arrow {
  display: flex;
  width: 20px;
  background-color: var(--color-shamrock);
  border-radius: 50%;
  margin: 50px auto;
  padding: 10px;
}

/*.section h4 {
  margin-left: 50px;
  color: var(--color-gray);
  display: flex;
}

.poza_profil {
  display: flex;
  justify-content: center;
  margin: 0 90px;
  border: 1px solid #A9ADB7;
  padding: 5px;
  width: 300px;
}


