@font-face {
  font-family: 'my-cv';
  src:
    url('fonts/my-cv.ttf?k9mecd') format('truetype'),
    url('fonts/my-cv.woff?k9mecd') format('woff'),
    url('fonts/my-cv.svg?k9mecd#my-cv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="my-Cv-"], [class*=" my-Cv-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-cv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-Cv-arrow-down:before {
  content: "\e900";
}
.my-Cv-arrow-up:before {
  content: "\e901";
}
.my-Cv-book:before {
  content: "\e902";
}
.my-Cv-codetap:before {
  content: "\e903";
}
.my-Cv-codewars:before {
  content: "\e904";
}
.my-Cv-commits:before {
  content: "\e905";
}
.my-Cv-cross:before {
  content: "\e906";
}
.my-Cv-download:before {
  content: "\e907";
}
.my-Cv-earth:before {
  content: "\e908";
}
.my-Cv-facebook:before {
  content: "\e909";
}
.my-Cv-forks:before {
  content: "\e90a";
}
.my-Cv-github:before {
  content: "\e90b";
}
.my-Cv-heart:before {
  content: "\e90c";
}
.my-Cv-info:before {
  content: "\e90d";
}
.my-Cv-instagram:before {
  content: "\e90e";
}
.my-Cv-link:before {
  content: "\e90f";
}
.my-Cv-linkedin:before {
  content: "\e910";
}
.my-Cv-menu:before {
  content: "\e911";
}
.my-Cv-rotate:before {
  content: "\e912";
}
.my-Cv-skype:before {
  content: "\e913";
}
.my-Cv-stackoverflow:before {
  content: "\e914";
}
.my-Cv-stars:before {
  content: "\e915";
}
.my-Cv-trophy:before {
  content: "\e916";
}
.my-Cv-twitter:before {
  content: "\e917";
}
.my-Cv-udemy:before {
  content: "\e918";
}
.my-Cv-user:before {
  content: "\e919";
}
.my-Cv-youtube:before {
  content: "\e91a";
}
